@charset "UTF-8";

* {
  box-sizing: border-box;
}

*::before
*::after{
  box-sizing: inherit;
}

body {
  font: 16px "Sawarabi Mincho";
  font-weight: normal;
  /*"Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", Meiryo, メイリオ, Osaka, "MS PGothic", arial, helvetica, sans-serif;*/
  -webkit-text-size-adjust : 100%!important ;
  color: #321b00;
  background-color: #fcfded;
}

img {
  max-width: 100%;
  border: 0;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.cf {
  overflow: hidden;
}

.cf::after {
  display: block;
  clear: both;
  content: "";
}


#header {
  background: url(images/ita.jpg) repeat center top;
  width: 100%;
  height: 640px;
}
#header img {
  height: 40px;
  width: 40px;
  padding: 5px;
}

#top {
  width: 100%;
  margin: 0 auto;
  background: url(images/wood_pattern.png) repeat center top; 
  /*background: -webkit-linear-gradient(to left, #56ab2f , #a8e063); 
  background: linear-gradient(to left, #56ab2f , #a8e063); */
  color: #56ab2f;
  position: fixed;
  top:0;
  z-index: 999;
}

#top li{
  height: 50px;
  line-height: 50px;
  display: block;
  float: left;
  text-align: center;
  font-family: "Tsukushi B Round Gothic","筑紫B丸ゴシック"; 
  font-weight: bold;
  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -ms-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}

.li-left {
  width: 11%;
}

.li-right {
  width: 11%;
}

.li-counseling {
  width: 23%;
}

.icon::before{
  font-family: FontAwesome;
  content: "\f299";
}


#toggle {
  display: none;
}

#top #drop-box {
  background-color: white;
  display: none;
  height: 0;
  width: 100%;
}

#drop li:hover {
  opacity: .5;
}

#logo {
  text-align: center;
  padding-top: 180px;
}

#logo img {
  height: 300px;
  width: 300px;
}

#name {
  margin-top: 10px;
}

h1 {
  height: 50px;
  width: 100%;
  margin: 0 auto;
  font: 24px /50px normal;
  text-align: center;
}

#slider {
  background-color: yellow;
  margin: 30px 0;
  height: 200px;
  width: 100%;
}

#slider img {
  height: auto;
  max-width: 50%;
}

article {
  width: 100%;
}

h2 {
  text-align: center;
  height: 50px;
  line-height: 50px;
  font-size: 24px;
}

h3 {
  height: 30px;
  line-height: 30px;
  font-family: "Kokoro";
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 30px 0; 
  display: inline-block;
  /*background-color: #A52A2A;*/
  color: #125115;
}

h4 {
  height: 20px;
  font: 20px/20px serif;
  text-align: center;
  padding-top:10px; 
}

h5 {
  height: 20px;
  line-height: 20px;
  font-family: "Kokoro";
  font-size: 16px;
 font-weight: bold; 
  display: inline-block;
  /*background-color: #A52A2A;
  color: white;*/
}

.section {
  width: 80%;
  margin: 0 auto;
}

article p{
  text-align: center;
}

.menu {
  margin-top: 10px;
  padding-bottom: 30px; 
}

.inline {
  display: inline-block;
}

.menu-left {
  float: left;
  text-align: center;
  width: 50%;
  border-right: 1px solid gray;
}

.menu-right {
  float: left;
  width: 49%;
  text-align: center;
}

.menu table {
  width: 98%;
  margin: 0 auto;
  font-size: 16px;
}

th {
  text-align: left;
  width: 65%; 
  padding: 7px;
}

.text {
  padding: 5px 0;
  line-height: 150%;
}

td {
  text-align: right;
  width: 35%;
  padding: 7px;
}


.menu-left td {
  padding-right: 30px;
}

.menu-right th {
  padding-left: 30px;
}

#greeting {
  color: #321b00;
  background-color: #fcfded;
  height: 650px;
}

#staff {
  background-color: fuchsia;
  height: 650px;
}

#beauty {
  height: auto;
  background: url(images/background/white.png) repeat center top;
}

#cafe {
  height: 650px;
}

#shop {
  height: 650px;
}

#counseling {
  height: 650px;
}

#access {
  height: 650px;
}

#link {
  height: 650px;
}

/*以下タブレット用*/
@media screen and ( max-width:768px ) {
  .li-left {
    width: 25%;
    border-bottom: 1px solid #333
  }

  .li-right {
    width: 20%;
  }

  .li-counseling {
    width: 35%;
  }

  .section {
    width: 90%;
  }

  .menu-left {
    float: none;
    width: 100%;
    border-right: none;
  }

  .menu-right {
    float: none;
    width: 100%;
    border: none;
  }

  .menu-left td {
    padding: 0;
  }

  .menu-right th {
    padding: 0;
  }
}
/*以下スマホ用*/
@media screen and ( max-width:480px ) {
  #top ul {
    display: none;
  }

  #toggle {
    display: block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-family: "Tsukushi B Round Gothic","筑紫B丸ゴシック"; 
    font-weight: bold;
  }
  
  #top #drop-box {
    display: block;
  }
  
  .li-left {
    width: 100%;
    border-top: 1px solid #333;
    border-bottom: none;
  }

  .li-right {
    width: 100%;
    border-top: 1px solid #333;
    border-bottom: none;
  }

  .li-counseling {
    width: 100%;
    border-top: 1px solid #333;
    border-bottom: none;
  }
}